header {
    background-color: rgb(103, 109, 96)
}

nav a, button {
    font-size: 20px;
    margin: 10px;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

.card {
    padding: 10px;
}

.title {
    background-color: rgb(149, 164, 153);
    margin-bottom: 5px;
}
.title h2, h4 {
    display:inline;
    padding: 8px;
    
}